<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Upload Folder</title>
</head>
<body>

<h2>Upload a Folder</h2>


<form id="uploadForm" enctype="multipart/form-data" action="upload/uploadfolder" method="post"> 
  <input type="file" name="files" id="folder" multiple directory webkitdirectory mozdirectory>
  <input type="submit" value="Upload Folder">
</form>

</body>
</html>
